*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Open Sans;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid red;
}
/* ---------header------- */
.header{
    background-color: rgba(255, 255, 255, 1);
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list{
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 25px;
}
.header__item{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0%;
}
.header__btn{
    background-color: rgba(0, 186, 252, 1);
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    color: white;
}
.hum__menu{
    display: none;
    font-size: 30px;
    font-weight: bold;
}
/* ---------hero-------- */
.hero__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.hero__title{
    max-width: 470px;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0%;    
}
.hero__text{
    padding: 16px 0;
    max-width: 470px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;    
}
.hero__btn, .main__btn{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: white;
    background-color: rgb(87, 134, 222);
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
}
.hero__img{
    max-width: 100%;
}
/* -----------main---------- */
.main{
    padding-top: 40px;
}
.main__title{
    max-width: 117px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    margin: 0 auto;
}
.main__text{
    max-width: 718px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 16px auto;
    text-align: center;
}
.main__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}
.main__item{
    background-color: whitesmoke;
    border-radius: 7px;
    text-align: center;
    padding: 25px 40px;
    height: 260px;
}
.main__img{
    max-width: 100%;
}
.main__subtitle{
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;
    padding: 16px 0;
}
.main__info{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-bottom: 10px;
}
.main__link{
    color: rgba(0, 186, 252, 1);
    margin: 0 20px;
}
.main__box{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ---------services--------- */
.services{
    margin-top: 70px;
}
.services-section{
    text-align: center;
}
.sectiont-title{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: center;
    
}
.section-text{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    /* max-width: 719px; 
    height: 48px; */
    text-align: center;
    
}
.services-step{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    /* text-align: center; */
}
.step-img{
    width: 300px;
    height: 278px;
    gap: 0px;
    opacity: 0px;    
}
.step-title{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    /* text-align: center; */  
}
.step-text{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;    
}
.services-frame{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
.frame-title{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}
.frame-text{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;   
}
.services-frame2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    align-items: center;
}
.frame2-title{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;   
}
.frame2-text{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.services-frame3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}
.frame3-title{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}
.frame3-text{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.services-frame4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}
.frame4-title{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}
.frame4-text{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.services-button{
    width: 167px;
    height: 40px;
    margin: 70px 540px;
    background-color: rgba(0, 186, 252, 1);
    color: white;
    border: none;
    border-radius: 7px;
}
/* --------------------------------SECTION------------------- */
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 186, 252, 1);
    width: 1300px;
    height: 543px;
    margin: 10px auto;
}
.section-title{
    color: white;
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: center;
    
}
.section-text{
    color: white;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 719px;
    height: 48px;   
}

.footer{
    background-color: rgba(25, 25, 25, 1);
}
.footer-title{
    color: white;
}
.footer-list{
    list-style: none;
}
.footer-item{
    color: white;
}
.footer-text{
    color: white;
    width: 320px;
    height: 120px;
}
.footer-link{
    text-decoration: none;
    color: white;
}
.footer-container{
    display: flex;
    justify-content: space-evenly;
}
@media only screen and (max-width:750px) {
    .header__list{
        display: none;
    }
    .hum__menu{
        display: block;
    }
    .hero__title{
        font-size: 21px;
    }
    .hero__text{
        font-size: 14px;
    }
    .hero__btn{
        font-size: 12px;
    }
}
@media only screen and (max-width:600px){
    .hero__container{
        flex-direction: column;
    }
    .main__box{
        flex-direction: column-reverse;
        row-gap: 30px;
    }
}